html {
  --red: rgba(248, 181, 47, 1);
  --lg: #ffffff;
  --dk: #000000;
  --dk-footer: #0d0e12;
  --text: rgba(41, 41, 41, 1);
  --gray: rgba(247, 247, 248, 1);

  --tr: 0.45s cubic-bezier(0.19, 1, 0.22, 1);
}