.tsigaras-preloader {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999
}

.tsigaras-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9990;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  -o-transition: box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease
}

@media screen and (max-width:1199px) {
  .tsigaras-header {
    padding: 20px 0
  }
}

.tsigaras-header.header-scroll {
  -webkit-box-shadow: 0 10px 27px 0 rgba(0, 0, 0, .03);
  box-shadow: 0 10px 27px 0 rgba(0, 0, 0, .03)
}

.tsigaras-header .tsigaras-header__mob-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media screen and (min-width:1200px) {
  .tsigaras-header .tsigaras-header__mob-nav {
    display: none
  }
}

.tsigaras-header .tsigaras-header__mob-nav .theme-empty-link,
.tsigaras-header .tsigaras-header__mob-nav a {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: 15px;
  cursor: pointer
}

@media screen and (max-width:1199px) {

  .tsigaras-header .tsigaras-header__mob-nav .theme-empty-link,
  .tsigaras-header .tsigaras-header__mob-nav a {
    margin-left: auto;
    margin-right: 15px
  }
}

.tsigaras-header .tsigaras-header__mob-nav .theme-empty-link span,
.tsigaras-header .tsigaras-header__mob-nav a span {
  width: 24px;
  height: 2px;
  background-color: var(--e-global-color-secondary);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition-property: -webkit-transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 75ms;
  -o-transition-duration: 75ms;
  transition-duration: 75ms;
  -webkit-transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  -o-transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-timing-function: cubic-bezier(.55, .055, .675, .19)
}

.tsigaras-header .tsigaras-header__mob-nav .theme-empty-link span::after,
.tsigaras-header .tsigaras-header__mob-nav .theme-empty-link span::before,
.tsigaras-header .tsigaras-header__mob-nav a span::after,
.tsigaras-header .tsigaras-header__mob-nav a span::before {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: var(--e-global-color-secondary);
  border-radius: 1.5px;
  position: absolute;
  transition-property: -webkit-transform;
  -webkit-transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease
}

.tsigaras-header .tsigaras-header__mob-nav .theme-empty-link span::before,
.tsigaras-header .tsigaras-header__mob-nav a span::before {
  top: -8px
}

.tsigaras-header .tsigaras-header__mob-nav .theme-empty-link span::after,
.tsigaras-header .tsigaras-header__mob-nav a span::after {
  bottom: -8px
}

.tsigaras-header .tsigaras-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media screen and (max-width:1199px) {
  .tsigaras-header .tsigaras-header__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
  }
}

.tsigaras-header .tsigaras-header__logo {
  line-height: 1
}

@media screen and (min-width:1200px) {
  .tsigaras-header .tsigaras-header__logo.mobile {
    display: none
  }
}

@media screen and (max-width:1199px) {
  .tsigaras-header .tsigaras-header__logo {
    padding: 0 0 0 15px;
    text-align: right
  }

  .tsigaras-header .tsigaras-header__logo.desktop {
    display: none
  }
}

.tsigaras-header .tsigaras-header__logo a {
  display: inline-block;
  line-height: 0;
  font-size: 0
}

.tsigaras-header .tsigaras-header__logo a img {
  max-height: 41px
}

.tsigaras-header .tsigaras-header__wrap {
  width: 100%
}

@media screen and (min-width:1200px) {
  .tsigaras-header .tsigaras-header__wrap {
    display: grid !important;
    height: auto !important;
    grid-template-columns: 1fr auto 1fr;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
}

.tsigaras-header .tsigaras-header__wrap .btn-close {
  display: none;
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0;
  font-size: 1rem;
  color: var(--e-global-color-secondary);
  text-align: right
}

.tsigaras-header .tsigaras-header__wrap .btn-close::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 1px;
  display: block;
  background-color: rgba(28, 29, 32, .1)
}

.tsigaras-header .tsigaras-header__wrap .btn-close i {
  line-height: 1;
  padding-left: 10px;
  font-size: 24px
}

@media screen and (max-width:1199px) {
  .tsigaras-header .tsigaras-header__wrap {
    position: fixed;
    top: 0;
    left: -320px;
    overflow: auto;
    width: 320px;
    padding: 55px 0 255px;
    background-color: #fff;
    -webkit-transition: left .35s;
    -o-transition: left .35s;
    transition: left .35s;
    z-index: 9999
  }

  .tsigaras-header .tsigaras-header__wrap .btn-close {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
  }

  .tsigaras-header .tsigaras-header__wrap.menu-open {
    left: 0
  }

  .tsigaras-header .tsigaras-header__wrap .dropdown-btn {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    font-size: 12px;
    padding-left: 5px;
    position: absolute;
    top: calc(12px + .3rem);
    right: 20px;
    line-height: 1
  }

  .tsigaras-header .tsigaras-header__wrap .dropdown-btn:before {
    display: inline-block;
    -webkit-transition-delay: .07s;
    -o-transition-delay: .07s;
    transition-delay: .07s;
    content: '';
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 0.999998' stroke='%232d2a2b' stroke-width='1.5'/%3E%3C/svg%3E%0A");
    line-height: 1;
    width: 12px;
    height: 6px;
    background-size: contain;
    background-repeat: no-repeat
  }
}

.tsigaras-header .tsigaras-header__wrap>ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  gap: 10px
}

@media screen and (max-width:1199px) {
  .tsigaras-header .tsigaras-header__wrap>ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0
  }
}

.tsigaras-header .tsigaras-header__wrap>ul li.current-menu-ancestor>.theme-empty-link,
.tsigaras-header .tsigaras-header__wrap>ul li.current-menu-ancestor>a,
.tsigaras-header .tsigaras-header__wrap>ul li.current-menu-item>.theme-empty-link,
.tsigaras-header .tsigaras-header__wrap>ul li.current-menu-item>a,
.tsigaras-header .tsigaras-header__wrap>ul li.current-menu-parent>.theme-empty-link,
.tsigaras-header .tsigaras-header__wrap>ul li.current-menu-parent>a,
.tsigaras-header .tsigaras-header__wrap>ul li.current_page_item>.theme-empty-link,
.tsigaras-header .tsigaras-header__wrap>ul li.current_page_item>a {
  color: var(--e-global-color-primary) !important
}

.tsigaras-header .tsigaras-header__wrap>ul li:hover>ul {
  opacity: 1;
  visibility: visible
}

.tsigaras-header .tsigaras-header__wrap>ul>li {
  padding: 30px 15px;
  position: relative
}

.tsigaras-header .tsigaras-header__wrap>ul>li:first-child {
  padding-left: 0
}

@media screen and (min-width:1200px) {
  .tsigaras-header .tsigaras-header__wrap>ul>li::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 38px
  }
}

@media screen and (max-width:1199px) {
  .tsigaras-header .tsigaras-header__wrap>ul>li {
    padding: 0
  }
}

.tsigaras-header .tsigaras-header__wrap>ul>li:hover>.theme-empty-link,
.tsigaras-header .tsigaras-header__wrap>ul>li:hover>a {
  color: var(--e-global-color-primary)
}

@media screen and (min-width:1200px) {
  .tsigaras-header .tsigaras-header__wrap>ul>li:hover.menu-item-has-children::after {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 0.999998' stroke='%23f56f5e' stroke-width='1.5'/%3E%3C/svg%3E%0A")
  }
}

.tsigaras-header .tsigaras-header__wrap>ul>li.menu-item-has-children::after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 0.999998' stroke='%2326354B' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  width: 12px;
  height: 6px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-bottom: 2px;
  -webkit-transition-delay: .07s;
  -o-transition-delay: .07s;
  transition-delay: .07s
}

@media screen and (max-width:1199px) {
  .tsigaras-header .tsigaras-header__wrap>ul>li.menu-item-has-children::after {
    display: none
  }
}

.tsigaras-header .tsigaras-header__wrap>ul>li .theme-empty-link,
.tsigaras-header .tsigaras-header__wrap>ul>li a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: var(--e-global-color-secondary);
  position: relative
}

.tsigaras-header .tsigaras-header__wrap>ul>li .theme-empty-link:hover,
.tsigaras-header .tsigaras-header__wrap>ul>li a:hover {
  color: var(--e-global-color-primary)
}

@media screen and (max-width:1199px) {

  .tsigaras-header .tsigaras-header__wrap>ul>li .theme-empty-link,
  .tsigaras-header .tsigaras-header__wrap>ul>li a {
    padding: 10px 20px;
    position: relative
  }

  .tsigaras-header .tsigaras-header__wrap>ul>li .theme-empty-link::before,
  .tsigaras-header .tsigaras-header__wrap>ul>li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 1px;
    display: block;
    background-color: rgba(28, 29, 32, .1)
  }
}

.tsigaras-header .tsigaras-header__wrap>ul>li:hover>ul {
  opacity: 1;
  visibility: visible
}

.tsigaras-header .tsigaras-header__wrap>ul ul {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 100%;
  left: -100px;
  z-index: 1;
  white-space: nowrap;
  background-color: #fff
}

@media screen and (min-width:1200px) {
  .tsigaras-header .tsigaras-header__wrap>ul ul {
    opacity: 0;
    visibility: hidden;
    padding: 15px 20px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .03);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .03)
  }
}

@media screen and (max-width:1199px) {
  .tsigaras-header .tsigaras-header__wrap>ul ul {
    position: static;
    display: none
  }
}

.tsigaras-header .tsigaras-header__wrap>ul ul li {
  display: block;
  min-width: 250px;
  padding: 0;
  white-space: normal;
  position: relative
}

@media screen and (min-width:1200px) {
  .tsigaras-header .tsigaras-header__wrap>ul ul li:not(:last-child) {
    margin-bottom: 6px
  }
}

@media screen and (min-width:1200px) {

  .tsigaras-header .tsigaras-header__wrap>ul ul li .theme-empty-link:hover,
  .tsigaras-header .tsigaras-header__wrap>ul ul li a:hover {
    color: var(--e-global-color-primary)
  }
}

@media screen and (max-width:1199px) {

  .tsigaras-header .tsigaras-header__wrap>ul ul li .theme-empty-link,
  .tsigaras-header .tsigaras-header__wrap>ul ul li a {
    padding: 10px 20px 10px 40px
  }
}

.tsigaras-header .tsigaras-header__wrap>ul ul ul {
  top: -15px;
  left: 100%
}

@media screen and (max-width:1199px) {

  .tsigaras-header .tsigaras-header__wrap>ul ul ul .theme-empty-link,
  .tsigaras-header .tsigaras-header__wrap>ul ul ul a {
    padding: 10px 20px 10px 60px
  }
}

.tsigaras-header .tsigaras-header__btn {
  text-align: right
}

@media screen and (max-width:1199px) {
  .tsigaras-header .tsigaras-header__btn {
    padding: 40px 20px 0;
    text-align: center
  }
}

span.body-overlay {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  pointer-events: none;
  z-index: 9985
}

@media screen and (max-width:1199px) {
  .sidebar-open {
    position: relative
  }

  .sidebar-open span.body-overlay {
    opacity: 1;
    visibility: visible
  }
}

.tsigaras-footer {
  padding: 30px 0;
  text-align: center;
  background-color: var(--e-global-color-secondary);
  color: #fff
}

.tsigaras-footer a {
  color: inherit
}

.tsigaras-footer a:hover {
  color: var(--e-global-color-primary)
}

/*# sourceMappingURL=style.css.map */