@import "../../assets/scss/mixin";

.tsigaras-slider-fade {
  background-color: var(--dk);

  overflow: hidden;

  &__item {
    display: flex;
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__main {
    position: absolute;
    inset: 0;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, .5);
    }

    .container {
      position: relative;
      height: 100%;
      z-index: 1;
    }

    &-wrap {
      position: absolute;
      max-width: 485px;
      width: 100%;
      inset: auto 15px 11%;

      @include md-max {
        inset: auto 15px 50%;
        transform: translateY(50%);
      }
    }

    &-heading {
      position: relative;

      &>span {
        position: absolute;
        bottom: 70px;
        right: calc(100% - 5px);
        color: var(--lg);
        writing-mode: tb-rl;
        transform: scale(-1);
        font-size: 19px;
        line-height: 20px;

        @include xl-max {
          bottom: 65px;
        }

        @include md-max {
          bottom: 40px;
        }
      }
    }

    h1 {
      color: var(--lg);

      span {
        color: var(--red);
      }
    }

    p {
      color: var(--lg);
    }

    a {
      text-transform: capitalize;
    }
  }

  &__logo-vertical {
    position: absolute;
    width: auto;
    bottom: 72px;
    right: 0;


    @media (max-width: 1300px) {
      right: 15px;
    }

    @include md-max {
      width: 20px;
    }
  }
}